@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
 
}

@font-face {
  font-family: 'font-name';
  src: url('/fonts/Akufadhl-Kruda Black Slanted.otf'); 
  /* // pattern: /directoryName/file.extension */
 }

/* In your css file where you want to use the font */
.logo-font { 
 font-family: 'font-name';
}
/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
